<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://timertriggerlesson.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0d4f826f-f91b-46c7-a0c9-16fc9778fb01/resourcegroups/DefaultResourceGroup-CCAN/providers/Microsoft.Web/sites/TimerTriggerLesson</ResourceId>
    <UserName>$TimerTriggerLesson</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://timertriggerlesson.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>